
/* Missing: flexbox layouts (requirement: 2+ flexbox layouts) */
/* Missing: CSS Grid layout (requirement: 1+ grid layout) */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;

}


.homepage {
    flex: 1;
    display: flex;
    flex-direction: column;
   
}

.hero,
.content {
    flex: 1;
   
}


